* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: 'Potta One', cursive;
  min-height: 100vh;
  background: linear-gradient(to left bottom, #D0D0D0, #856363);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: rgb(252, 241, 241);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 10%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(97, 118, 131, 0.3)
  );
  border-radius: 2rem;
}
.img-avatar {
  border-radius: 100px; 
}
.link {
  display: block;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #d6a9f0, #c98ed4);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  display: inline;
}

.pro h2 {
  width: 40%;
  color: white;
}
.pro i {
  width: 60%;
  position: absolute;
  top: 5%;
  right: -5%;
  color: rgba(15, 21, 97, 0.9);
}
/* GAMES */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(253, 244, 244, 0.898),
    rgba(206, 219, 235, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(253, 244, 244, 0.898),
    rgba(206, 219, 235, 0.3)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

#img {
  width: 220px;
  height: auto;
  object-fit: cover;
}

.power {
  background: linear-gradient(to right top, #e586f8, #fd63d7);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.power::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  /* position: absolute;
  left: 90%; */
}
.power-90::after {
  position: absolute;
  left: 90%;
}
.power-60::after {
  position: absolute;
  left: 60%;
}
.power-50::after {
  position: absolute;
  left: 50%;
}
.power-20::after {
  position: absolute;
  left: 20%;
}
.power-30::after {
  position: absolute;
  left: 30%;
}
.power-80::after {
  position: absolute;
  left: 80%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
